[submodule "zsh/config/other/zsh-syntax-highlighting"]
	path = zsh/config/other/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/config/other/zsh-autosuggestions"]
	path = zsh/config/other/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/config/other/powerlevel10k"]
	path = zsh/config/other/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
